<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" routerLink='/home'>Medium</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

    </div>
  </div>

  <div style="float: right;">
    <ngx-avatar name={{username}}></ngx-avatar>
  </div>
</nav> -->


<div class=" mt-4">

  <div class="row" >

    <div class="col-md-8 " >
      <tabset #tabset>

        <tab  heading="RECOMENDED FOR YOU " id="tab2">
          <app-articles ></app-articles>
        </tab>
        <tab  heading="FOLLOWING" id="tab1">

        </tab>

      </tabset>
    </div>


    <div class="col-md-4" style="text-align: center;">
      <div class="container"  >
        <div class="row" style="padding-left: 50%;"><i class="fa fa-twitter" style="font-size:36px;color: rgb(14, 155, 211);"></i> </div>
      <div class="row"> Discover Medium writers you already follow on Twitter.</div>
      <div class="row" style="padding-left: 32%;">
        <button style="font-size:16px;border-radius:20px;background-color: transparent;" ><i class="fa fa-twitter" style="color: rgb(14, 155, 211);"></i> Connect to Twitter </button>

      </div>

      <button style="font-size:12px" type="button" class="btn btn-link">May be later</button>
      </div>


      <div class="container" >
        <div class="row" style="padding-top: 15%;text-align: center;">
          RECOMMENDED TOPICS
        </div>
        <div class="row" style="text-align: center;padding-top: 5%;">
         &nbsp; &nbsp; &nbsp;<span   class="bg-light text-dark">Technology</span>
         &nbsp; &nbsp; &nbsp;<span  class="bg-light text-dark">Money</span>
         &nbsp; &nbsp; &nbsp;<span  class="bg-light text-dark">Business</span>
         &nbsp; &nbsp; &nbsp;<span  class="bg-light text-dark">Productivity</span>
         &nbsp; &nbsp; &nbsp;<span  class="bg-light text-dark">Psychology</span>
         &nbsp; &nbsp; &nbsp;<span  class="bg-light text-dark">Mindfullness</span>
         &nbsp; &nbsp; &nbsp;<span  class="bg-light text-dark">Art</span>
        </div>

      </div>


      <div class="container">
        <div class="row" style="padding-top: 15%;text-align: center;">
         WHO TO FOLLOW
        </div>

        <div class="row p-3">
          <div class="row">
            <div class="col-sm-3">
              <ngx-avatar size="40" src="https://avatars.githubusercontent.com/u/47750294?s=400&u=453693e495009c9abf45e86c438bdaa988226db8&v=4"></ngx-avatar>
            </div>
            <div class="col-sm-6">
              <div class="row">
                vivek kumar
              </div>
              <div class="row">
                Description
              </div>
            </div>
            <div class="col-sm-3">
              <button *ngIf="!color1" (click)="follow1()"type="button" class="btn btn-light">Follow</button>
              <button *ngIf="color1" (click)="follow1()"type="button" class="btn btn-dark">Following</button>
            </div>
        </div >
        <div class="row p-3">
          <div class="row">
            <div class="col-sm-3">
              <ngx-avatar size="40" src="https://avatars.githubusercontent.com/u/47750294?s=400&u=453693e495009c9abf45e86c438bdaa988226db8&v=4"></ngx-avatar>
            </div>
            <div class="col-sm-6">
              <div class="row">
                vivek kumar
              </div>
              <div class="row">
                Description
              </div>
            </div>
            <div class="col-sm-3">
              <button *ngIf="!color2" (click)="follow2()"type="button" class="btn btn-light">Follow</button>
              <button *ngIf="color2" (click)="follow2()"type="button" class="btn btn-dark">Following</button>
            </div>
        </div >

        </div >
        <div class="row p-3">
          <div class="row">
            <div class="col-sm-3">
              <ngx-avatar size="40" src="https://avatars.githubusercontent.com/u/47750294?s=400&u=453693e495009c9abf45e86c438bdaa988226db8&v=4"></ngx-avatar>
            </div>
            <div class="col-sm-6">
              <div class="row">
                vivek kumar
              </div>
              <div class="row">
                Description
              </div>
            </div>
            <div class="col-sm-3">
              <button *ngIf="!color" (click)="follow()"type="button" class="btn btn-light">Follow</button>
              <button *ngIf="color" (click)="follow()"type="button" class="btn btn-dark">Following</button>
            </div>
        </div >
        </div >
      </div>

    </div>

  </div>

</div>
